@media (max-width: 84em) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 56em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 28em) {
  html {
    font-size: 35%;
  }
}
